body {
  font-family:  Verdana, Geneva, sans-serif;
}

table {
  border-collapse: collapse;
}


.container {
  width: 85%;
  background: #F6F6EF;
  min-height: 100%;
}


#header {
  background-color: #FF6600;
}


#content {
  background-color: #f6f6ef;
  margin: 0px;

}

.header{
	font-size: 10pt;
	color: #000;
	text-decoration: none;
	width: 100%;
	background: #FF6600;
	float: left;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
.header .title{
	font-weight: bold;
}
.header span{
	float: left;
	padding-left: 0.5em;
}.header a{
	float: left;
	padding-left: 0.5em;
}
.header .login{
	float: right;
}
a{
	color:#000;
	text-decoration: none;
}

#dataHolder{
	min-height: 5em;
	text-align: left;
	font-size: 12px;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #8C8282;
}
#dataHolder a{
	color:#000;
	font-size: 14px;
}

#dataHolder div span{
	margin-left: 1em;
	padding-left: 1em;
}












.footerColorBar{
	float: none;
	font-size: 12px;
	background: #FF6600;
	min-width: 100%;
	min-height: 2px;
}
.footer{
	color:black;
	padding-top: 1em;
	font-size: 14px;
}
.footer a{
	font-size: 10px;
	padding-left: 0.5em;
}
.footer span{
	font-size: 10px;
	padding-left: 0.5em;
}
